@import "/home/YOURUSER/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 800;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces button {
    background: @color10; /* non-selected workspace blue */
    color: @foreground;
    border-radius: 7px;
    margin: 2px;
}

#workspaces button:hover {
    background: @color3; /* slightly different blue on hover (#84A697) */
    color: @foreground;
}

#workspaces button.active {
    background: @color1;  /* selected workspace bright yellow (#C9AD44) */
    color: @background;   /* text contrast */
}

#workspaces button.urgent {
    background-color: @color1;
    color: @foreground;
}

/* Modules: clock, battery, network, pulseaudio, custom */
#clock,
#battery,
#network,
#pulseaudio,
#custom-power,
#custom-notify,
#custom-cava {
    padding: 0px 10px;
    border-radius: 7px;
    background-color: @color10; /* blue background (#61948E) */
    color: @foreground;         /* readable icons/text */
}

#window,
#workspaces {
    margin: 0px 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#battery.charging,
#battery.plugged {
    color: @color3;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background;
}

#network.disconnected {
    color: @color1;
}

#pulseaudio.muted {
    color: @color1;
}

#custom-notify {
    font-size: 17px;
    padding-right: 13px;
}

#custom-power {
    font-size: 17px;
    margin-right: 10px;
    padding-right: 13px;
}

#custom-cava {
    padding-right: 5px;
    letter-spacing: -5px;
}

tooltip {
    background: @color10; /* same blue as modules */
    color: @foreground;
    border-radius: 10px;
}
